@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
body{font-family: 'Open Sans', sans-serif;}
/*******header************/
header{padding:20px 0;}
.navbar.navbar-expand-md.bg-dark.navbar-dark {
	width: 100%;
	background-color: transparent !important;
}
#collapsibleNavbar {
	justify-content: end;
}

.buton-right {
	display: flex;
	justify-content: end;
}
.pink {
	background: #e0124c;	border-radius: 5px !important;	padding: 9px 32px;border:0;
	position: relative;margin-right:20px;
}
.pink a{color:white;}
.skyblue {
	background: #02b6f3;border-radius: 5px !important;	padding: 9px 32px;border:0;
}
.pink:hover{background: #02b6f3;}
.skyblue:hover{background: #e0124c;}
.buton-right  a:hover{text-decoration: none;color:white;}
.buton-right  a {
	font-size: 17px;
	color: white;text-decoration: none;

}

.pink a::after {
	position: absolute;
	content: "";
	background-image: url("../images/arrow.png");
	width: 20px;
	height: 20px;
	display: block;
	right: 6px;
	top: 19px;
	background-repeat: no-repeat;
}
/***********banner************/
.banner {
	background-image: url("../images/banerrr-1.jpg");
	width: 100%;
	height: 100%;
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 80px 0;background-position: bottom;position:relative;color:white;
}
.overlay {
	background: #1abcf3d6;
	display: block;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;top:0;
}
.box-text {
	align-items: center;
	/* justify-content: center; */
	-webkit-align-items: center;
	-webkit-align-content: center;
	/* -moz-box-pack: center; */
	/* -moz-box-align: center; */
	/* display: -webkit-box; */
	/* -webkit-box-pack: center; */
	/* -webkit-box-align: center; */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
	display: flex;
}
.peragraph {
	width: 100%;
}
.banner-form {
	width: 100%;
	display: flex;
}
.banner h3 {
	font-size: 38px;
	color: white;
	font-weight: bolder;
}
.banner h1 {
	font-size: 78px;
	font-weight: bold;
	color: white;position:relative;padding-bottom:20px;margin-bottom:30px;
}
.banner h1::after {
	position: absolute;
	content: "";
	background: white;
	height: 4px;
	width: 50px;
	bottom: 0;
	left: 6px;
}
.banner-form input {
	background: transparent;
	border: 1px solid white;
	padding: 9px;
	color: white;
}
.banner-form .pink{
margin-right:0;margin-left:20px;border:0;
}
.banner-form .pink a {
	color: white;}
.banner-form .pink a:hover {
	text-decoration:none;
}
.image-box{position:relative;}
.image-box:before{
	position: absolute;
	content: "";
	background-image: url("../images/pluss.png");
	width: 53px;
	height: 53px;
	display: block;
	left: 0px;
	top:50%;z-index:99;
	background-repeat: no-repeat;
}
.image-box {
	margin-bottom: 80px;
}
.image-box img {
	width: 100%;position:relative;
}
/******easy bill**********/
.easy-bill h5 {
	color: #484646;font-size:20px;padding-left:32px;
}
.box1 {
	background: white;
	margin: 0 10px;
	padding: 39px 9px;
	display: flex;
	display: -webkit-flex;
	border-radius: 36px;
	box-shadow: 3px 0px 55px rgba(0,0,0,0.10);
}
.box1 img {
	padding-left: 32px;object-fit: contain;
}
.easy-bill {
	margin-top:-50px;padding-bottom: 80px;
}
/********how much*********/
.how-much {
	padding-bottom: 80px;
}
.heading-box {
	text-align: center;margin-bottom: 50px;
}
.heading-box h4, .text-left-side h4 {
	margin-top: 0;
	margin-bottom: 0;
	color: #e0124c;
	font-size: 45px;
	font-family: 'Damion', cursive !important;
}
.heading-box h2, .text-left-side h2 {
	font-size: 45px;
	font-weight: bold;
	color: #02b6f3;
	text-transform: uppercase;
}
.heading-box h5 {
	font-size: 35px;
	color: #484646;font-weight: bold;
}
.include-box h3 {
	text-align: center;
	background: #02B6F3;
	color: white;
	font-size: 25px;
	text-transform: uppercase;
	border-radius: 20px 20px 0 0;
	padding: 18px 0;
	letter-spacing: 0px;margin-bottom:0px;
}
.include-box {
	max-width: 60%;
	margin: 0 auto;
}
.include-box ul li {
	margin-left: 4px;
	list-style: none;
	border: solid 1px #888;
	border-bottom-color: rgb(136, 136, 136);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin: 0;
	border-bottom: 0;
	padding: 14px 34px;
	color: #4d4d4d;
	font-size: 20px;
	font-weight: 500;
	position: relative;cursor: pointer;
}
.include-box ul {
	padding: 0;
	margin: 0 !important;
}
.include-box ul li::before {
	content: "";
	width: 1px;
	height: 100%;
	background: #888;
	position: absolute;
	right: 71px;
	top: 0;
}
.include-box ul li:hover {
	background: #02B6F3;
	color: white;
	transition: all ease-in-out 0.3s;
}
.include-box ul li::after {
	position: absolute;
	content: "";
	background-image: url("../images/right.png");
	width: 20px;
	height: 20px;
	right: 23px;
}
.include-box ul li:last-child {
	border-bottom: solid 1px #888;
}
/*************why*****************/
.why-pulluv {
	padding: 80px 0;background:#fbfbfb;
}
.easy-scheduling {
	margin-bottom: 10px;color:#4d4d4d;font-size:19px;
}
.easy-scheduling  span {
	margin-right: 10px;
}
.why-pulluv p{font-size: 16px;
	line-height: 27px;
	color: #828282;
	font-weight: 400;
	padding-right: 28px;
	margin-top: 20px;
}
.image-right-side img {
	width: 100%;
}
.why-pulluv  .pink {
	margin-right: 0px;
	margin-top: 20px;
}
/*******footer*******/
footer {
	background: #02b6f3;
	padding: 20px;
}
footer p{margin:0px;color:white;font-size:16px;}

/********media-quary********/
@media screen and (max-width:991px){
.include-box {max-width: 90%;}
.container {max-width: 95% !important;}
}
@media screen and (max-width:767px){
.easy-bill {
	margin-top: 0;
	padding-top: 80px;
}
.box1 {
	margin-bottom: 30px;
	display: block;
	text-align: center;
	padding: 20px 10px;margin-left:0px;margin-right:0px;
}
.box1 img {
	padding-left: 0;
	object-fit: cover;
	margin-bottom: 10px;
}
.image-right-side, .image-box {
	margin-top: 30px;
}
.navbar-dark .navbar-toggler-icon {
	background-image: url("../images/mob-nav.png") !important;
}
#collapsibleNavbar {
	position: absolute;
	top: 68px;
	z-index: 99;
	background: white;
	width: 100%;
	left: 0;
}
.buton-right {
	display:block;text-align:center;
}
header .pink, header .skyblue {
	display: block;
	background: transparent;

}
header .pink a, header .skyblue a {
	    padding: 12px 0px !important;
    color: black !important;
    font-size: 17px !important;font-weight:bold;
}
.pink a::after {
	display: none;
}
header .pink:hover, header .skyblue:hover{background:transparent !important;}
header .pink {
	border: 1px solid gray;
	border-left: 0;
	border-right: 0;
	border-radius: 0 !important;
	width: 100%;
	text-align: left;
}
header .container {
	max-width: 100% !important;
}
header .skyblue{
	border: 1px solid gray;
	border-left: 0;
	border-right: 0;
	border-top:0px;
	border-radius: 0 !important;
	width: 100%;
	text-align: left;
}
.banner-form {
	display: block;
}
.banner-form  .pink{margin-left:0px !important;margin-top:20px;}
.banner-form input, .banner-form .pink {
	width: 100%;
}
.include-box {
	max-width: 100%;
}
}
@media screen and (max-width:599px){
	h2 {
		font-size: 30px !important;
	}
	.banner h1 {
		font-size: 45px;
	}
	.banner h3 {
		font-size: 25px;
	}
	.why-pulluv, .easy-bill, .banner {
		padding: 40px 0;
	}
	.how-much {
		padding-bottom: 40px;
	}
}
@media screen and (max-width:480px){
	.include-box ul li {
	padding-right: 53px !important;
	font-size: 13px !important;
	font-weight: bold !important;
	padding-left: 10px !important;
}
.include-box ul li::before {
	right: 45px;
}
.include-box ul li::after {
	right: 15px;
}
}
@media screen and (max-width:411px){
.easy-scheduling {
	font-size: 14px;
}
}